<div class = "cards-container">
    <div class="card">
        <img src = "/images/car.png" alt ="Car Insurance">
        <h3>Car Insurance</h3>
    </div>
        <div class="card">
        <img src = "/images/home.png" alt ="Home Insurance">
        <h3>Home Insurance</h3>
    </div>
        <div class="card">
        <img src = "/images/business.png" alt ="Business Insurance">
        <h3>Business Insurance</h3>
    </div>
        <div class="card">
        <img src = "/images/life.png" alt ="Life Insurance">
        <h3>Life Insurance</h3>
    </div>
</div>