<h1>Basic CRUD Operations</h1>

<div class="form-container">
  <label>Name:</label><br>
  <input type="text" [(ngModel)]="employee.name"><br><br>

  <label>Email:</label><br>
  <input type="email" [(ngModel)]="employee.email"><br><br>

  <button (click)="saveEmployee()">
    {{ isEditMode ? 'Update' : 'Add' }} Employee
  </button>
</div>



<div class="table-container">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>

    @for (e of employees; track $index) {
      <tr>
        <td>{{ e.name }}</td>
        <td>{{ e.email }}</td>
        <td>
          <button class="edit-btn" (click)="editEmployee(e)">Edit</button>
          <button class="delete-btn" (click)="deleteEmployee(e.id)">Delete</button>
        </td>
      </tr>
    }

    @if (employees.length === 0) {
      <tr>
        <td colspan="3" class="no-data">No employees added yet</td>
      </tr>
    }
  </table>
</div>
