h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 800;
    text-decoration: underline;
}
.container{
    margin: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    border-radius: 6px;
    margin-bottom: 30px;
}