.navbar {
  background-color: lightskyblue;
  padding: 14px 20px;
  display: flex;                 
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}
.navbar li a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}
.navbar li a:hover {
  text-decoration: underline;
}
.logo {
  height: 35px;
  width: auto;
}
