.calculator {
  width: 320px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 800;
    text-decoration: underline;
}
.calculator input {
  width: 90%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculator button {
  padding: 8px 14px;
  margin: 6px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
}

.calculator button:hover {
  background-color: #0056b3;
}

.calculator h3 {
  margin-top: 15px;
  color: #28a745;
}
