#container{
    display: flex;
    justify-content: center;
    gap:40px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.policy-card h2{
        color : red;
        text-align: center;
        font-size: 30px;
}
.policy-card{
    padding : 5px;
    border:  4px solid black;
}
#btns{
  gap: 20px;
  display: flex;
  justify-content: center;
}
button{
    padding: 10px;
    border-radius:5px;
    font-size: 15px;
    background-color:gray;
    color: white;
    border: none;
    cursor: pointer;
    
    
}

button:hover{
    background-color: black;
    color: white;

}