h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 800;
  text-decoration: underline;
}
.load-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: flex-start;
  justify-content: center;
}

.box {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-box h3 {
  color: #198754;
}

.edit-box h3 {
  color: #ffc107;
}

input[type='text'] {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  gap: 10px;
}

.load-btn {
  background: #0d6efd;
  color: white;
  margin-right: 10px;
  
}

.add-btn {
  background: #198754;
  color: white;
}

.show-btn {
  background: #0d6efd;
  color: white;
}

.edit-btn {
  background: #ffc107;
  color: black;
}

.delete-btn {
  background: #dc3545;
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background: #f1f1f1;
  padding: 10px;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background: #fafafa;
}

/* CHECKBOX */
.checkbox {
  display: block;
  margin-bottom: 10px;
}
