<footer class = "footer">
    <div class = "footer-top">
        <div class = "footer-col">
            <h4>Products</h4>
            <a>Auto</a>
            <a>Home</a>
            <a>Business</a>
            <a>Employee Benefits</a>
            <a>Mutual Funds</a>
        </div>
        <div class = 'footer-col'>
            <h4>Company</h4>
            <a>About Us</a>
            <a>Carrers</a>
            <a>Agents & Producers</a>
            <a>Newsroom</a>
            <a>Investor Relations</a>
            <a>Mobile App</a>
        </div>
        <div class = "footer-col">
            <h4>Connect</h4>
            <a>Contact Us</a>
            <a>Report a Claim</a>
            <a>Find an Agent</a>
            <a>Small Business Playbook</a>
            <a>Small Biz Ahead </a>
            <a>Extra Mile</a>
        </div>
        <div class = "footer-col account">
            <h4>Access  Your Account</h4>
            <p>View your policy, pay your bill, view claim status and more.</p>
            <button class = "btn">Auto & Home Login</button>
            <button class = "btn">Business Insurance Login</button>
        </div>
    </div>
    <hr>
    <div class = "footer-bottom">
        <div class = "brand">
            <img src = "/images/logo.svg" alt = "Logo">
            <span>The Hartford</span>
        </div>
        <div class = "legal">
            <a>Legal Notice</a>
            <a>Accessibility Statement</a>
            <a>Producer Compensation</a>
            <a>EEO</a>
            <a>Privacy Policy</a>
            <a>Your California Privacy Choices</a>
        </div>
        <div class = "social">
            <span>🔵</span>
            <span>📘</span>
            <span>💼</span>
            <span>▶️</span>
        </div>
    </div>
    <div class = "copyright">
        @2026 The Hartford Insurance Company
    </div>
</footer>