* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRID CONTAINER */
.grid-container {
  width: 95vw;
  height: 95vh;
  display: grid;
  gap: 12px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    "burgers pizzas pasta desserts"
    "burgers meals  specials drinks"
    "salads  seafood bbq      drinks";
}

.box {
  padding: 16px;
  color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.03);
}

/* GRID AREAS + COLORS */
.burgers  { grid-area: burgers; background: lightcoral; }
.pizzas   { grid-area: pizzas; background: tomato}
.pasta    { grid-area: pasta; background: mediumseagreen; }
.desserts { grid-area: desserts; background:brown; }

.meals    { grid-area: meals; background: yellowgreen; }
.specials { grid-area: specials; background: purple; }
.drinks   { grid-area: drinks; background: #3fa9f5; }

.salads   { grid-area: salads; background: orange; }
.seafood  { grid-area: seafood; background: blue; }
.bbq      { grid-area: bbq; background: black; }

.box h2 {
  margin-bottom: 6px;
  font-size: 20px;
}

.box p {
  font-size: 16px; 
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "burgers pizzas"
      "burgers pasta"
      "desserts meals"
      "specials drinks"
      "salads seafood"
      "bbq bbq";
    height: auto;
  }
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "burgers"
      "pizzas"
      "pasta"
      "desserts"
      "meals"
      "specials"
      "drinks"
      "salads"
      "seafood"
      "bbq";
  }
}
